<div class="container">
	<%= simple_form_for @animal do |f| %>
		<%= f.input :specie, label: 'Qual a espécie do animal?', collection: Animal::SPECIES %>		
		<%= f.input :name, label: 'Qual o nome do animal?' %>
		<%= f.input :size, label: 'Qual o porte?', collection: Animal::SIZE %>
		<%= f.input :location, label: 'Onde ele(a) está localizado?' %>
		<%= f.input :sex, label: 'Qual o sexo do animal?', collection: Animal::SEX %>
		<%= f.input :health_castrated, label: 'Está castrado?', collection: Animal::YESNO %>
		<%= f.input :health_vaccinated, label: 'Está vacinado?', collection: Animal::YESNO %>
		<%= f.input :health_dewormed, label: 'Está vermifugado?', collection: Animal::YESNO %>
		<%= f.input :health_special, label: 'Precisa de cuidados especiais?', collection: Animal::YESNO %>
		<%= f.submit 'Publicar' %>
	<% end %>
</div>