<h1>Animais</h1>
<ul>
	<% @animals.each do |animal| %>
		<li> <%= animal.name %> </li>
		<li><%= animal.location %> </li>
		<li><%= animal.sex %> </li>
  	<li><%= animal.size %> </li>
	<% end %>
</ul>

<%= link_to %>