<%= link_to "Back", animals_path %>
<h1> <%= @animal.name %> </h1>
<p>Specie: <%= @animal.specie %></p>
<p>Size: <%= @animal.size %></p>
<p>Location: <%= @animal.location %></p>
<p>Sex: <%= @animal.sex %></p>
<p>Castrated?: <%= @animal.health_castrated %></p>
<p>Vaccinated?: <%= @animal.health_vaccinated %></p>
<p>Dewormed?: <%= @animal.health_dewormed %></p>
<p>Special?: <%= @animal.health_special %></p>

<%= link_to "deletar", animal_path(@animal), method: :delete, data: {confirm: "Are you sure?"} %>